/*======================================================================================================Imports*/

/* The Monkees album cover fonts*/

@import url(//db.onlinewebfonts.com/c/9f8ad72f856cb62f2c07c4676c2cc716?family=Kalligraphia+LT+Std);
@import url(//db.onlinewebfonts.com/c/eaa271d84d7de7fbfd31c0d030f05b00?family=Hobo);

@font-face {
    font-family: "Kalligraphia LT Std";
    src: url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.eot");
    src: url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.svg#Kalligraphia LT Std") format("svg");
}

@font-face {
    font-family: "Hobo";
    src: url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.eot");
    src: url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.svg#Hobo") format("svg");
}





/*======================================================================================================Colors*/

body {
    background-color: #404040;
    /*Grayish black*/
}

/*======================================================================================================General*/

/*nav buttons will now take up fill screen width*/

.container-fluid {
    margin: 0;
    padding: 0;
}

main .row {
    margin-left: -15px;
    margin-right: -15px;
}



/*======================================================================================================Header-General*/

.header-container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


.row {
    /*Fixes bug where header content was not properly centered*/
    margin-left: 0;
    margin-right: 0;
}





.header-title {
    font-family: "Kalligraphia LT Std", sans-serif;
    font-size: 60px;
    color: #F4F21A;
    width: 100vw;
    display: flex;
    justify-content: center;



}

.header-subtitle {
    font-family: "Montserrat", sans-serif;
    color: #ff7777;
    /*light puruple*/
    width: 100vw;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    line-height: 1.5em;
}

/*Keeps content as part of flow*/

.hide-on-home {
    visibility: hidden;
}

#down-icon {
    color: red;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 45%;
}






/*======================================================================================================Header-backgrounds*/

.home-header-container {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/The_Monkees-1966-BW-car.jpg");
    /*Filters image with transparent black*/
}



/*======================================================================================================Home: Main Nav Buttons*/

.home-nav-button {
    box-shadow: -13px 9px 12px 6px rgba(0, 0, 0, 0.75);
    height: 200px;
    display: flex;
    margin: 1% 0;
    /*adds space between buttons and for horizontal shadow*/
    position: relative;
    justify-content: center;
    width: 100%;


}


.home-nav-button-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}


.home-nav-button-content {
    text-align: center;
    position: relative;
    transform: translateY(15%);
    padding-left: 20px;
    padding-right: 20px;
    /*stops overflow on phone*/
}

.home-nav-button-content .button-title {
    font-family: "hobo", sans-serif;

    color: #F4F21A;
    z-index: 10;
    font-size: 50px;
    letter-spacing: 5px;


}

.home-nav-button a {
    /*Center allign and justfies content within main nav buttons*/
    display: flex;
    align-items:center;
    justify-content: center;
}

.home-nav-button-content .button-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ff7777;

    font-size: 15px;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    transform: translateY(-50%);


}

/*======================================================================================================Home: Background images for main nav buttons*/

.book-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/book-car-shorter.jpg");
}

.listen-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/listen-car-shorter.jpg");

}


.follow-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/follow-shorter.png");
    background-position: top;
}

.attend-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/attend-car-2.jpg");
    background-position: bottom;
}

.learn-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/learn-car-shorter.jpg");
    background-position: top;
}

.contact-button-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/contact-car.jpg");
    background-position: top;
}










/*======================================================================================================Header-Responsive*/

@media(min-width:750px) {

    .header-title {
        font-size: 120px;
    }

    .header-subtitle {
        font-size: 25px;
    }


    #down-icon {
        font-size: 80px;

    }

    .home-nav-button-content .button-title {
        font-size: 100px;
        letter-spacing: 10px;

    }


    .home-nav-button-content .button-subtitle {
        font-size: 20px;

    }





}




@media(min-width:1100px) {
    .home-header-container {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/project-assets/images/header-and-nav/monkees-car.jpg");

    }

    .header-title {
        font-size: 180px;
    }
    .header-subtitle {
        font-size: 30px;
    }

    #down-icon {
        font-size: 120px;
    }

    .home-nav-button {
        height: 300px;
    }

    .home-nav-button-content .button-title {
        font-size: 150px;
        letter-spacing: 15px;

    }

    .home-nav-button-content .button-subtitle {
        font-size: 30px;
    }

}