/*======================================================================================================Imports*/


/* The Monkees album cover fonts*/


@import url(//db.onlinewebfonts.com/c/9f8ad72f856cb62f2c07c4676c2cc716?family=Kalligraphia+LT+Std);
@import url(//db.onlinewebfonts.com/c/eaa271d84d7de7fbfd31c0d030f05b00?family=Hobo);

@font-face {
    font-family: "Kalligraphia LT Std";
    src: url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.eot");
    src: url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9f8ad72f856cb62f2c07c4676c2cc716.svg#Kalligraphia LT Std") format("svg");
}

@font-face {
    font-family: "Hobo";
    src: url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.eot");
    src: url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/eaa271d84d7de7fbfd31c0d030f05b00.svg#Hobo") format("svg");
}



/*======================================================================================================Colors*/


body {
    background-color: #404040;
}


/*======================================================================================================Header-General*/








/*======================================================================================================Header-Specfic*/



